body {
	background: linear-gradient(-45deg, 	#004d25, #11823b, 	#48bf53, #91f086);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

p {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: 	#02231c;
}
label {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: 	#02231c;
}
h1, h2, h3, h4, h5{
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: 	#02231c;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.letter {
  display: inline-block;
  border: 2px solid #02231c;
  width: 2em;
  height: 2em;
  align-content: center;
  text-align: center;
  background-color: grey;
}
.correct-letter {
  display: inline-block;
  border: 2px solid #02231c;
  width: 2em;
  height: 2em;
  align-content: center;
  text-align: center;
  background-color: green;
}
.out-of-place-letter {
  display: inline-block;
  border: 2px solid #02231c;
  width: 2em;
  height: 2em;
  align-content: center;
  text-align: center;
  background-color: yellow;
}
.Wordle {
  background-image: -webkit-linear-gradient(125deg, #f2291b, #f7db25, #84f527);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-animation: hue 15s infinite linear;
}@-webkit-keyframes hue {
 from {
   -webkit-filter: hue-rotate(0deg);
 }
 to {
   -webkit-filter: hue-rotate(-360deg);
 }
}